#main {
    transition: margin-left .5s;
    padding: 16px;
}
.d-flex{
    color: white;
    position: absolute;
    right: 20px;
}
.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.card-header{
    color: white;
    display: flex;
    background-color: #728A71;
}
#profile_picture{
    border: solid 1px white;
    height: 3em;
    width: 3em;
    border-radius: 100%;
}
#Username{
    margin-top:auto;
    margin-left: 1rem;
}
.pictures{
    border-top: #5A7359 solid 3px;
    margin-top: 3rem;
    padding-top: 3rem;
    justify-content: center;
    display: flex;
}
#stacked{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#pics{

    margin-right:10px ;
    margin-top: 10px;
    height: 40%;
    width: 40%;
}

.pagination li a.page-link{
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    background-color:white;
    color: #5A7359;
}
.pagination li a.page-link:hover{
    z-index: 1;
    color: #fff;
    background-color: #5A7359;
    border-color: #8f8f9d;
}
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #5A7359;
    border-color: #8f8f9d;
}
#search{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right: 5px;
    text-align: center;
    height: 35px;
    color: #5A7359;
    border: solid 2px #5A7359;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
#search:hover{
    color:white;
    background-color: #5A7359;
}
input[type=text]:focus{
    outline: none;
    border-color:#5A7359;
    border-radius: 1px;
}
#name{
    padding-left: 10px;
    height: 35px;
    width: 20rem;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.searchbar{
    margin: auto;
    display: flex;
    align-items: center;
}
.result{
    display: flex;
    border: solid 1px;
    border-color: #b3b3b8;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
}
#card_result_pic{
    width: 60%;
}
#result_pic{
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
}
#card_result_content{
   width:max-content;
}
#card_result_content h5{
    text-align: center;
}
#card_result_content ul{
    
}
