/*Loading Spinner Style*/
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(204,204,204,0.5);
    position:absolute;
    z-index: 5;
}
.loader div{
    height:100px;
    width: 100px;
    border: 15px solid gray;
    border-top-color: #5a7359;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

/*Feed Style*/
.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.card-header{
    color: white;
    display: flex;
    background-color: #728A71;
}
#profile_picture{
    border: solid 1px white;
    height: 3em;
    width: 3em;
    border-radius: 100%;
}
#Username{
    margin-top:auto;
    margin-left: 1rem;
}
.pictures{
    border-top: #5A7359 solid 3px;
    margin-top: 3rem;
    padding-top: 3rem;
    justify-content: center;
    display: flex;
}
#stacked{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#pics{

    margin-right:10px ;
    margin-top: 10px;
    height: 40%;
    width: 40%;
}

/* Friends Styles*/
.pagination li a.page-link{
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    background-color:white;
    color: #5A7359;
}
.pagination li a.page-link:hover{
    z-index: 1;
    color: #fff;
    background-color: #5A7359;
    border-color: #8f8f9d;
}
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #5A7359;
    border-color: #8f8f9d;
}
#search{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right: 5px;
    text-align: center;
    height: 35px;
    color: #5A7359;
    border: solid 2px #5A7359;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
#search:hover{
    color:white;
    background-color: #5A7359;
}
input[type=text]:focus{
    outline: none;
    border-color:#5A7359;
    border-radius: 1px;
}
#name{
    padding-left: 10px;
    height: 35px;
    width: 20rem;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.searchbar{
    margin: auto;
    display: flex;
    align-items: center;
}

/*Trails Index & Show Styles*/
.TrailIndexCard{
    height: 300px;
    display: flex;
    border: solid 1px;
    border-color: #b3b3b8;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
#TrailIndexCardpicContainer{
    width: 300px;

    object-fit: cover;
}
#TrailIndexCardpic{
    width: 300px;

}
#TrailIndexCardContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#TrailIndexSort{
    border: solid 3px gray;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
}

/* Admin Form styles */
#CreateFormRow{
    border: 1px solid #b3b3b8;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
#CreateFormCol{
    padding-top: 1rem;
    margin: auto;
    max-width: 75%;
}
#CreateFormCol .label{
    margin-bottom: 0.5rem;
}
#CreateFormCol .btn{
    background-color: rgba(48, 94, 34, 0.4);
    display: block;
    margin:auto;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}
#CreateFormCol .btn:hover{
    background-color: #5A7359;
    display: block;
    margin:auto;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}
#CreateFormCol Select{
    border: solid 1px #5a7359;
    border-radius: 10px;
    padding: 5px;
    background-color: #9CAE96;
    color: white;
}

/* Trial Showing pages Styles */
.TrailShowPic{
    max-width:1000px;
    min-width: 350px;
    max-height: 830px;
    min-height: 260px;
    margin: auto;
}
#TrailShowDefaultPic{
    width: 100%;
}
iframe{
    height: 15rem;
    width: 100%;
}
.TrailShowPicAdmin{
    margin-left:auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: max-content;
    border: solid 2px gray;
    border-radius: 10px;
    max-width: 300px;
    padding: 1rem;
}
#TrailShowBtn{
    width: 130px;
    max-height: 30px;
    border-radius: 10px;
    border-color: #5a7359;
}

/* Parks Styles */

#ParksIndexCol{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3rem;
}
#ParkLogoImage{
    height:100%;
    width:100%;
    align-self: flex-start;
    object-fit: cover;
}

.ParkShowHeader{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2c462c;
}
#ParkShowHeaderTitle{
    font-size: 60%;
    display: flex;
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
}
#ParkShowHeaderLogo{
    display: flex;
    justify-content: flex-end;
}